@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Licorice&family=Noto+Sans+KR:wght@100..900&display=swap");
/* Clearfix Mixin */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR";
  font-weight: 400;
  background-color: #111;
  color: white;
}

#header {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 프로그래스바보다 높은 값 */
  transition: transform 0.2s ease; /* 애니메이션 부드럽게 */
  background-color: #111;
  box-sizing: border-box;
  overflow: hidden;
}
#header .nav_wrapper {
  padding: 0 7rem;
  height: 60px;
  line-height: 60px;
  /* Clearfix 적용 */
}
#header .nav_wrapper::after {
  content: "";
  display: table;
  clear: both;
}
#header .nav_wrapper .logo {
  float: left;
  height: 4rem;
}
#header .nav_wrapper .logo a {
  display: block;
  width: 100%;
}
#header .nav_wrapper .logo a img {
  width: 8.4rem;
  vertical-align: middle;
}
#header .nav_wrapper ul {
  height: 100%;
  /* 두 번째 ul: 오른쪽 정렬 */
}
#header .nav_wrapper ul:first-of-type {
  float: left;
  margin-left: 2rem;
}
#header .nav_wrapper ul:last-of-type {
  float: right;
}
#header .nav_wrapper ul li {
  float: left;
  margin-right: 2rem;
}
#header .nav_wrapper ul li:last-child {
  margin-right: 0;
}
#header .nav_wrapper ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
#header .nav_wrapper ul li a:hover {
  color: rgba(165, 165, 165, 0.5058823529);
}

.parallax__progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  box-sizing: border-box;
  background-color: #111;
}
.parallax__progress ul {
  display: flex;
  padding: 0 7rem;
}
.parallax__progress ul li:not(:last-child) {
  margin-right: 1.4rem;
}
.parallax__progress ul a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.parallax__progress ul a:hover {
  color: rgba(165, 165, 165, 0.5058823529);
}
.parallax__progress progress {
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
}
.parallax__progress progress::-webkit-progress-bar {
  background: transparent;
}
.parallax__progress progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}
.parallax__progress progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}

#footer {
  background-color: #111;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}
#footer .footer_info {
  height: 100px;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-bottom: 1px solid #565656;
  box-sizing: border-box;
}
#footer .footer_info ul {
  display: flex;
  flex-direction: row;
}
#footer .footer_info ul li {
  line-height: 1.5rem;
}
#footer .footer_info ul li:not(:last-child) {
  margin-right: 1.5rem;
}
#footer .footer_info .info_link {
  flex-wrap: wrap;
}
#footer .footer_info .sns_link {
  filter: invert(1);
}
#footer .footer_info .sns_link li a {
  display: block;
}
#footer .footer_info .sns_link li a img {
  width: auto;
  height: 40px;
}
#footer .footer_services {
  height: 100px;
  padding: 0 7rem;
  border-bottom: 1px solid #565656;
  display: flex;
  align-items: center;
}
#footer .footer_services_wrapper {
  flex-wrap: wrap;
  width: 70%;
  display: flex;
}
#footer .footer_services_wrapper li {
  line-height: 1.5rem;
}
#footer .footer_services_wrapper li:not(:last-child) {
  margin-right: 1.5rem;
}
#footer .footer_copyright {
  padding: 1.5rem 7rem;
  font-family: "Geologica", sans-serif;
}
#footer .logo {
  display: block;
  height: 4rem;
}
#footer .logo a {
  display: flex;
  /* flexbox 사용 */
  justify-content: center;
  /* 가로 가운데 정렬 */
  align-items: center;
  /* 세로 가운데 정렬 */
  width: 100%;
  height: 100%;
}
#footer .logo a img {
  width: 8.4rem;
  display: block;
  /* 인라인 성격 제거 */
}
#footer p {
  margin: 0;
}

#main {
  overflow: hidden;
  margin-top: 60px;
}

#banner video {
  width: 100%;
}

#pagination_wrapper {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#pagination_wrapper .paginationBtn {
  margin: 0 1rem;
  width: 10px;
}
#pagination_wrapper .paginationBtn img {
  width: 100%;
}
#pagination_wrapper .pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
#pagination_wrapper .pagination .dot {
  transition: 0.4s all;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  /* 초기화: 경계선 */
  border-radius: 50%;
  /* 동그랗게 만들기 */
}
#pagination_wrapper .pagination .active {
  background-color: #ccc;
}

#intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#intro .intro_text .intro_text_item {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 100%;
  text-align: center;
  z-index: 4;
}

.intro_img {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-image: url("../images/background/background1.jpg");
}

.parallax_item {
  height: 70vh;
  position: relative;
}
.parallax_item .parallax_text_wrapper {
  width: 100%;
  padding: 0 7rem;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.parallax_item .parallax_text_wrapper:nth-of-type(even) {
  text-align: left;
}
.parallax_item .parallax_text_wrapper h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.parallax_item .parallax_text_wrapper p {
  line-height: 1.3rem;
}
.parallax_item .parallax_item_imgWrap {
  background-color: transparent;
  overflow: hidden;
  height: 100%;
}
.parallax_item .parallax_item_imgWrap .parallax_item_img {
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1);
  transition: 0.5s all;
}
.parallax_item .parallax_item_imgWrap .parallax_item_img:hover {
  transform: scale(1.04);
}
.parallax_item:nth-child(odd) .parallax_text_wrapper {
  text-align: right;
  /* 짝수 번째의 텍스트 정렬 */
}
.parallax_item:nth-child(even) .parallax_item_imgWrap .parallax_item_img {
  background-position: right center;
}
.parallax_item:nth-child(1) .parallax_item_img {
  background-image: url("../images/background/front.jpg");
}
.parallax_item:nth-child(2) .parallax_item_img {
  background-image: url("../images/background/side.jpg");
}
.parallax_item:nth-child(3) .parallax_item_img {
  background-image: url("../images/background/back.jpg");
}

#detail {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
}
#detail .detail_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  /* 반복 방지 */
  background-size: auto 100%;
  /* 높이를 70%로 설정, 너비는 자동 조정 */
}
#detail .detail_section:nth-child(2) {
  text-align: right;
}
#detail .detail_section p {
  padding: 0 9rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
#detail .detail_section:nth-child(1) {
  background-image: url("../images/background/imagebox1.jpg");
  background-position: right center;
}
#detail .detail_section:nth-child(2) {
  background-image: url("../images/background/imagebox2.jpg");
  background-position: left center;
}
#detail .detail_section:nth-child(3) {
  background-image: url("../images/background/imagebox3.png");
  background-position: right center;
}

#spec {
  padding: 0 7rem;
  box-sizing: border-box;
  background-color: #fffff3;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#spec h3 {
  font-family: "Geologica", sans-serif;
  color: #111;
  text-align: center;
  font-size: 1.75rem;
  padding: 2rem 0;
}
#spec p {
  font-size: 0.9rem;
  color: #ababab;
  text-align: center;
}
#spec .spec_item_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#spec .spec_item_wrapper .spec_item {
  height: 40vh;
  width: 30%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#spec .spec_item_wrapper .spec_item:nth-child(1) {
  background-image: url("../images/background/info1.png");
}
#spec .spec_item_wrapper .spec_item:nth-child(2) {
  background-image: url("../images/background/info2.png");
}
#spec .spec_item_wrapper .spec_item:nth-child(3) {
  background-image: url("../images/background/info3.png");
}

#model {
  margin: 10rem 0;
  font-family: "Geologica", sans-serif;
}
#model #model_title {
  text-align: center;
  margin-bottom: 3rem;
}
#model #model_title h2 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

#model_box_wrapper {
  overflow: hidden;
  padding: 0 7rem;
  box-sizing: border-box;
  position: relative;
}
#model_box_wrapper .model_visible_site {
  overflow: hidden;
}
#model_box_wrapper ul {
  width: 100%;
  display: flex;
  gap: 16px;
  /* 각 박스 간격 */
  transition: 1s all;
}

.model_box {
  flex-shrink: 0;
  width: calc((100% - 2rem) / 3);
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(39, 39, 39, 0.2745098039);
  transition: 0.5s all ease-in-out;
  filter: brightness(80%);
}
.model_box:hover {
  filter: brightness(100%);
}
.model_box h3 {
  font-size: 1.2rem;
}
.model_box .model_box_img {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 1.4rem;
}
.model_box .model_box_img img {
  width: 100%;
}
.model_box a {
  font-family: "Noto Sans KR";
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.5s all;
  position: relative;
}
.model_box a::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transition: width 0.5s ease;
  z-index: -1;
}
.model_box a:hover {
  color: #111;
  letter-spacing: 1px;
  /* 텍스트 간격 변경 */
}
.model_box a:hover::after {
  width: 100%;
  /* 가상 요소의 너비를 100%로 확장 */
}

button {
  background-color: transparent;
  /* 초기화: 투명 배경 */
  cursor: pointer;
  /* 클릭 가능 표시 */
  outline: none;
  /* 포커스 시 외곽선 제거 */
  padding: 0;
  /* 버튼 기본 패딩 제거 */
  border: none;
}

@media (min-width: 768px) {
  #banner {
    max-height: 60vw;
  }
}
@media (max-width: 767px) {
  #banner {
    height: calc(100vh - 60px);
    min-height: 480px;
    /* 최소 높이 */
    max-height: 1024px;
    /* 최대 높이 */
  }
  .model_box {
    width: 100%;
    /* 이미지도 100% */
  }
}