@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Licorice&family=Noto+Sans+KR:wght@100..900&display=swap');
$primary-color: #111;
$padding-size : 0 7rem;

body {
    font-family: "Noto Sans KR";
    font-weight: 400;
    background-color: $primary-color;
    color: white;
}

#header {
    padding: $padding-size;
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
    line-height: 60px;

    .logo {
        float: left;
        height: 4rem;

        a {
            display: block;
            width: 100%;

            img {
                width: 8.4rem;
                vertical-align: middle;
            }
        }
    }

    ul {
        height: 100%;

        /* float 클리어 */
        /* 첫 번째 ul: 왼쪽 정렬 */
        &:first-of-type {
            float: left;
            margin-left: 2rem;
            /* h1과의 간격 */
        }

        /* 두 번째 ul: 오른쪽 정렬 */
        &:last-of-type {
            float: right;
        }

        li {
            float: left;
            /* li도 왼쪽으로 정렬 */
            margin-right: 2rem;
            /* li 간격 */

            &:last-child {
                margin-right: 0;
                /* 마지막 li는 간격 제거 */
            }

            a {
                color: white;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: #ccc;
                    /* 호버 시 색상 변경 */
                }
            }
        }
    }
}

#footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 0.9rem;


    // info section
    .footer_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        padding: 1.5rem 7rem;
        border-bottom: 1px solid #565656;
        box-sizing: border-box;

        ul {
            display: flex;
            flex-direction: row;

            li {
                line-height: 1.5rem;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
        .info_link {
            flex-wrap: wrap;
        }
        .sns_link {
            filter: invert(1);

            li {
                a {
                    display: block;

                    img {
                        width: auto;
                        height: 40px;

                    }
                }
            }

        }
    }

    // footer_servie
    .footer_services{
        padding: 1.5rem 7rem;
        border-bottom: 1px solid #565656;
        
    }
    .footer_services_wrapper {
        flex-wrap: wrap;
        width: 70%;
        display: flex;
        li {
            line-height: 1.5rem;
            &:not(:last-child){
                margin-right: 1.5rem;
                
            }
        }
    }

    .footer_copyright{
        padding: 1.5rem 7rem;
        font-family: "Geologica", sans-serif;

    }
    .logo {
        display: block;
        height: 4rem;

        a {
            display: flex;
            /* flexbox 사용 */
            justify-content: center;
            /* 가로 가운데 정렬 */
            align-items: center;
            /* 세로 가운데 정렬 */
            width: 100%;
            height: 100%;

            img {
                width: 8.4rem;
                display: block;
                /* 인라인 성격 제거 */
            }
        }
    }

    p {
        margin: 0;
    }
}

// banner------------------------
#banner {
    height: calc(100vh - 60px);

    #banner_slide {
        height: 100%;
        position: relative;
        overflow: hidden;

        h2 {
            font-family: "Geologica", sans-serif;
            font-size: 4rem;
            bottom: 5%;
            left: 5%;
            position: absolute;

        }
    }

    .slide_item {
        height: 100%;
        background-image: url("../images/banner/gv70.jpg");
        background-size: cover;
        /* 이미지가 배경 크기에 맞게 확대 */
        background-position: center;
        /* 이미지가 가운데 정렬되도록 */
        background-repeat: no-repeat;

    }
}

// model------------------------
#model {
    margin: 10rem 0;
    font-family: "Geologica", sans-serif;

    #model_title {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 0.4rem;
        }

       

    }
}

#model_box_wrapper {
    overflow: hidden;
    padding: $padding-size;
    box-sizing: border-box;
    position: relative;

    .model_visible_site {
        overflow: hidden;

    }

    ul {
        width: 100%;
        display: flex;
        gap: 16px;
        /* 각 박스 간격 */
        transition: 1s all;
    }
}

.model_box {
    flex-shrink: 0;
    width: calc((100% - 2rem) / 3);
    padding: 1rem;
    box-sizing: border-box;
    background-color: #27272746;
    transition: 0.5s all ease-in-out;
    filter: brightness(80%);

    &:hover {
        filter: brightness(100%);
    }

    h3 {
        font-size: 1.2rem;
    }

    .model_box_img {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.4rem;

        img {
            width: 100%;
        }
    }

    a {
    font-family: "Noto Sans KR";

        display: block;
        width: 100%;
        text-align: center;
        padding: 0.6rem 0;
        text-decoration: none;
        cursor: pointer;

        border: 1px solid #ccc;
        transition: 0.5s all;
        position: relative;

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            transition: width 0.5s ease;
            z-index: -1;
        }

        &:hover {
            color: $primary-color;
            letter-spacing: 1px;
            /* 텍스트 간격 변경 */
        }

        &:hover::after {
            width: 100%;
            /* 가상 요소의 너비를 100%로 확장 */
        }
    }

}

button {
    background-color: transparent; /* 초기화: 투명 배경 */
    cursor: pointer; /* 클릭 가능 표시 */
    outline: none; /* 포커스 시 외곽선 제거 */
    padding: 0; /* 버튼 기본 패딩 제거 */
    border: none;
}
#pagination_wrapper {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .paginationBtn {
        margin: 0 1rem;
        width: 10px;
        img {
            width: 100%;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        gap: 10px;
        .dot {
            transition: 0.4s all;
            width: 10px;
            height: 10px;
            border: 1px solid #ccc; /* 초기화: 경계선 */
            border-radius: 50%; /* 동그랗게 만들기 */
        }
        .active {
            background-color: #ccc;
        }
    }
}

// intro------------------------
#intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .intro_text {
        .intro_text_item {
            font-size: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            // background-color: #111;
            padding: 30px;
            width: 100%;
            text-align: center;
            z-index: 4;
        }
    }

}


.intro_img {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url("../images/background/background1.jpg");
}


// carDesign------------------------
.parallax_item {
    height: 70vh;
    position: relative;

    .parallax_text_wrapper {
        width: 100%;
        padding: 0 3rem;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;

        &:nth-of-type(even) {
            text-align: right;
        }

        h3 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

    }

    .parallax_item_imgWrap {
        background-color: transparent;
        overflow: hidden;
        height: 100%;

        .parallax_item_img {
            width: auto;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            transform: scale(1.0);
            transition: 0.5s all;

            &:hover {
                transform: scale(1.04);
            }

        }

    }

    &:nth-child(even) {
        .parallax_text_wrapper {
            text-align: right;
            /* 짝수 번째의 텍스트 정렬 */
        }

        .parallax_item_imgWrap {
            .parallax_item_img {
                background-position: right center;
            }
        }
    }

    &:nth-child(1) .parallax_item_img {
        background-image: url("../images/background/front.jpg");
    }

    &:nth-child(2) .parallax_item_img {
        background-image: url("../images/background/side.jpg");
    }

    &:nth-child(3) .parallax_item_img {
        background-image: url("../images/background/back.jpg");
    }
}


#spec {
    padding: $padding-size;
    box-sizing: border-box;
    background-color: #fffff3;


    h3 {
        color: $primary-color;
        text-align: center;
        font-size: 1.75rem;
        padding: 2rem 0;
    }

    .spec_item_wrapper {
        display: flex;
        justify-content: space-between;

        .spec_item {
            height: 40vh;
            width: 30%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &:nth-child(1) {
                background-image: url("../images/background/info1.png");
            }

            &:nth-child(2) {
                background-image: url("../images/background/info2.png");
            }

            &:nth-child(3) {
                background-image: url("../images/background/info3.png");
            }
        }
    }
}


@media (min-width: 768px) {
    #banner {
        max-height: 60vw;
    }
}

@media (max-width: 767px) {
    #banner {
        height: calc(100vh - 60px);
        min-height: 480px;
        /* 최소 높이 */
        max-height: 1024px;
        /* 최대 높이 */
    }

    .model_box {
        width: 100%;
        /* 이미지도 100% */
    }
}