@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Licorice&family=Noto+Sans+KR:wght@100..900&display=swap');
$primary-color: #111;
$padding-size : 0 7rem;
/* Clearfix Mixin */
@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans KR";
    font-weight: 400;
    background-color: $primary-color;
    color: white;
}

#header {
    position: fixed; /* 고정 위치 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 프로그래스바보다 높은 값 */
    transition: transform 0.2s ease; /* 애니메이션 부드럽게 */

    background-color: $primary-color;
    box-sizing: border-box;
    overflow: hidden;

    .nav_wrapper {
    padding: $padding-size;

        height: 60px;
    line-height: 60px;

         /* Clearfix 적용 */
    @include clearfix;
        .logo {
            float: left;
            height: 4rem;

            a {
                display: block;
                width: 100%;

                img {
                    width: 8.4rem;
                    vertical-align: middle;
                }
            }
        }
        ul {
            height: 100%;

            &:first-of-type {
                float: left;
                margin-left: 2rem;
            }

            /* 두 번째 ul: 오른쪽 정렬 */
            &:last-of-type {
                float: right;
            }

            li {
                float: left;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: white;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover {
                        color: #a5a5a581;
                    }
                }
            }
        }


    }

}


.parallax__progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    box-sizing: border-box;
    background-color: $primary-color;

    ul {
        display: flex;
        padding: $padding-size;

        li {
            &:not(:last-child) {
                margin-right: 1.4rem;
            }
        }

        a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #a5a5a581;
            }
        }
    }

    progress {
        appearance: none;
        width: 100%;
        height: 5px;
        border: none;
        background: transparent;
    }

    progress::-webkit-progress-bar {
        background: transparent;
    }

    progress::-webkit-progress-value {
        background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
        background-attachment: fixed;
    }

    progress::-moz-progress-bar {
        background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
        background-attachment: fixed;
    }
}



// footer =====================================
#footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 0.9rem;


    // info section
    .footer_info {
        height: 100px;
        padding: $padding-size;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        border-bottom: 1px solid #565656;
        box-sizing: border-box;

        ul {
            display: flex;
            flex-direction: row;

            li {
                line-height: 1.5rem;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }

        .info_link {
            flex-wrap: wrap;
        }

        .sns_link {
            filter: invert(1);

            li {
                a {
                    display: block;

                    img {
                        width: auto;
                        height: 40px;

                    }
                }
            }

        }
    }

    // footer_servie
    .footer_services {
        height: 100px;
        padding: $padding-size;
        border-bottom: 1px solid #565656;
        display: flex;
        align-items: center;
    }

    .footer_services_wrapper {
        flex-wrap: wrap;
        width: 70%;
        display: flex;

        li {
            line-height: 1.5rem;

            &:not(:last-child) {
                margin-right: 1.5rem;

            }
        }
    }

    .footer_copyright {
        padding: 1.5rem 7rem;
        font-family: "Geologica", sans-serif;

    }

    .logo {
        display: block;
        height: 4rem;

        a {
            display: flex;
            /* flexbox 사용 */
            justify-content: center;
            /* 가로 가운데 정렬 */
            align-items: center;
            /* 세로 가운데 정렬 */
            width: 100%;
            height: 100%;

            img {
                width: 8.4rem;
                display: block;
                /* 인라인 성격 제거 */
            }
        }
    }

    p {
        margin: 0;
    }
}


#main {
    overflow: hidden;
    margin-top: 60px;
}

// banner------------------------
#banner {
    video {
        width: 100%;
    }
}

#pagination_wrapper {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .paginationBtn {
        margin: 0 1rem;
        width: 10px;

        img {
            width: 100%;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        gap: 10px;

        .dot {
            transition: 0.4s all;
            width: 10px;
            height: 10px;
            border: 1px solid #ccc;
            /* 초기화: 경계선 */
            border-radius: 50%;
            /* 동그랗게 만들기 */
        }

        .active {
            background-color: #ccc;
        }
    }
}

// intro------------------------
#intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .intro_text {
        .intro_text_item {
            font-size: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            // background-color: #111;
            padding: 30px;
            width: 100%;
            text-align: center;
            z-index: 4;
        }
    }

}


.intro_img {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url("../images/background/background1.jpg");
}


// carDesign------------------------
.parallax_item {
    height: 70vh;
    position: relative;

    .parallax_text_wrapper {
        width: 100%;
        padding: 0 7rem;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;

        &:nth-of-type(even) {
            text-align: left;
        }

        h3 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.3rem;
        }

    }

    .parallax_item_imgWrap {
        background-color: transparent;
        overflow: hidden;
        height: 100%;

        .parallax_item_img {
            width: auto;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            transform: scale(1.0);
            transition: 0.5s all;

            &:hover {
                transform: scale(1.04);
            }

        }

    }

    &:nth-child(odd) {
        .parallax_text_wrapper {
            text-align: right;
            /* 짝수 번째의 텍스트 정렬 */
        }

    }

    &:nth-child(even) {
        .parallax_item_imgWrap {
            .parallax_item_img {
                background-position: right center;
            }
        }

    }



    &:nth-child(1) .parallax_item_img {
        background-image: url("../images/background/front.jpg");
    }

    &:nth-child(2) .parallax_item_img {
        background-image: url("../images/background/side.jpg");
    }

    &:nth-child(3) .parallax_item_img {
        background-image: url("../images/background/back.jpg");
    }
}


// detail------------------------
#detail {
    width: 300%;
    display: flex;
    flex-wrap: nowrap;

    .detail_section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-repeat: no-repeat;
        /* 반복 방지 */
        background-size: auto 100%;

        /* 높이를 70%로 설정, 너비는 자동 조정 */
        &:nth-child(2) {
            text-align: right;
        }

        p {
            padding: 0 9rem;
            line-height: 2rem;
            font-size: 1.4rem;

        }

        &:nth-child(1) {
            background-image: url("../images/background/imagebox1.jpg");
            background-position: right center;
        }

        &:nth-child(2) {
            background-image: url("../images/background/imagebox2.jpg");
            background-position: left center;
        }

        &:nth-child(3) {
            background-image: url("../images/background/imagebox3.png");
            background-position: right center;
        }
    }
}


// spec------------------------
#spec {
    padding: $padding-size;
    box-sizing: border-box;
    background-color: #fffff3;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        font-family: "Geologica", sans-serif;
        color: $primary-color;
        text-align: center;
        font-size: 1.75rem;
        padding: 2rem 0;
    }

    p {
        font-size: 0.9rem;
        color: #ababab;
        text-align: center;
    }

    .spec_item_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .spec_item {
            height: 40vh;
            width: 30%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &:nth-child(1) {
                background-image: url("../images/background/info1.png");
            }

            &:nth-child(2) {
                background-image: url("../images/background/info2.png");
            }

            &:nth-child(3) {
                background-image: url("../images/background/info3.png");
            }
        }
    }
}


// model------------------------
#model {
    margin: 10rem 0;
    font-family: "Geologica", sans-serif;

    #model_title {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 0.4rem;
        }



    }
}

#model_box_wrapper {
    overflow: hidden;
    padding: $padding-size;
    box-sizing: border-box;
    position: relative;

    .model_visible_site {
        overflow: hidden;

    }

    ul {
        width: 100%;
        display: flex;
        gap: 16px;
        /* 각 박스 간격 */
        transition: 1s all;
    }
}

.model_box {
    flex-shrink: 0;
    width: calc((100% - 2rem) / 3);
    padding: 1rem;
    box-sizing: border-box;
    background-color: #27272746;
    transition: 0.5s all ease-in-out;
    filter: brightness(80%);

    &:hover {
        filter: brightness(100%);
    }

    h3 {
        font-size: 1.2rem;
    }

    .model_box_img {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.4rem;

        img {
            width: 100%;
        }
    }

    a {
        font-family: "Noto Sans KR";

        display: block;
        width: 100%;
        text-align: center;
        padding: 0.6rem 0;
        text-decoration: none;
        cursor: pointer;

        border: 1px solid #ccc;
        transition: 0.5s all;
        position: relative;

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            transition: width 0.5s ease;
            z-index: -1;
        }

        &:hover {
            color: $primary-color;
            letter-spacing: 1px;
            /* 텍스트 간격 변경 */
        }

        &:hover::after {
            width: 100%;
            /* 가상 요소의 너비를 100%로 확장 */
        }
    }

}

button {
    background-color: transparent;
    /* 초기화: 투명 배경 */
    cursor: pointer;
    /* 클릭 가능 표시 */
    outline: none;
    /* 포커스 시 외곽선 제거 */
    padding: 0;
    /* 버튼 기본 패딩 제거 */
    border: none;
}

@media (min-width: 768px) {
    #banner {
        max-height: 60vw;
    }
}

@media (max-width: 767px) {
    #banner {
        height: calc(100vh - 60px);
        min-height: 480px;
        /* 최소 높이 */
        max-height: 1024px;
        /* 최대 높이 */
    }

    .model_box {
        width: 100%;
        /* 이미지도 100% */
    }
}